parameters:
    level: 8
    paths:
        - ./
    excludePaths:
        - %currentWorkingDirectory%/Tests
        - %currentWorkingDirectory%/var
        - %currentWorkingDirectory%/vendor
    checkMissingIterableValueType: false
includes:
    - vendor/phpstan/phpstan-strict-rules/rules.neon
    - vendor/phpstan/phpstan-deprecation-rules/rules.neon
    - vendor/thecodingmachine/phpstan-safe-rule/phpstan-safe-rule.neon
    - vendor/phpstan/phpstan-beberlei-assert/extension.neon
    - vendor/phpstan/phpstan/conf/bleedingEdge.neon
